= ${projectName}

:toc:
:toc-title: Índice
:sectnums:
:source-highlighter: coderay

== Gerando Build da Aplicação

Na raiz do projeto digitar:

`mvn clean install`

== Rodando a aplicação

É possível rodar a aplicação de 3 formas 

=== Em tempo de desenvolvimento

Passo 1 - Iniciar o keycloak Local na pasta opt

`opt/keycloak-4.8.3.Final/bin/standalone.sh`

Passo 2 - No Spring Tool Suite (STS) clicar sobre a pasta ${projectName}-backend ir em Run AS --> Spring Boot App para iniciar o server

Passo 3 - No Visual Studio Code (VSC) dar o comando

`ng serve`

Passo 4 - Acessar a aplicação no endereço: http://localhost:4200


=== Para Demonstração 

Passo 1 - Iniciar o keycloak Local na pasta opt

`opt/keycloak-4.8.3.Final/bin/standalone.sh`

Passo 2 - Acessar a pasta ${projectName} e dar o comando abaixo

`mvn clean package -Dmaven.test.skip=true`

Passo 3 - Rodar a aplicação com o comando abaixo

`java -jar ${projectName}-backend/target/${projectName}-backend..0.0.1 SNAPSHOT.jar`


Passo 4 - Acessar a aplicação no endereço: http://localhost:8080/${projectName}

=== Produção

Passo 1 - 

Passo 2 - 

Passo 3 - 

Passo 4 - 

