package ${rootPackage.name}.groovy.jii.config;

import java.sql.SQLException;

import javax.sql.DataSource;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.jdbc.core.JdbcTemplate;

import ${rootPackage.name}.groovy.jii.sql.JiiSqlContext;
import ${rootPackage.name}.groovy.jii.sql.h2.H2JiiContextImpl;
import ${rootPackage.name}.groovy.jii.sql.oracle.OracleJiiContextImpl;

@Configuration
public class JiiConfiguration {
	
	@Autowired
	private JdbcTemplate jdbcTemplate;
	
	@Autowired
	private DataSource datasource;
	

	@Bean
	public JiiSqlContext jiiContext() throws SQLException, IllegalAccessException {
		if(datasource.getConnection().getMetaData().getDatabaseProductName().equalsIgnoreCase("h2")) {
			return new H2JiiContextImpl(jdbcTemplate);
		} else if(datasource.getConnection().getMetaData().getDatabaseProductName().equalsIgnoreCase("Oracle")) {
			return new OracleJiiContextImpl(jdbcTemplate);
		}
		throw new IllegalAccessException("Implementação do JiiContext não encontada");
	}
}
