package ${rootPackage.name}.groovy.jii.sql

import ${rootPackage.name}.groovy.jii.JiiFilterable

interface JiiSqlWhereStep extends JiiSqlFetchStep, JiiSqlOrderByStep {
	
//	JiiSqlOrderByStep where(String sql)

	JiiSqlOrderByStep where(JiiFilterable filter)
	
}
