package br.jus.tre_pa.springboot.v2.template.service.groovy.qy

import javax.persistence.criteria.CriteriaBuilder
import javax.persistence.criteria.CriteriaQuery
import javax.persistence.criteria.Predicate
import javax.persistence.criteria.Root

import org.springframework.data.jpa.domain.Specification

import br.jus.tre_pa.springboot.v2.template.service.domain.Unidade

/**
 * 
 *
 */
class QySpecification<T> {
	
	public Specification<T> variableSpecification(Class<T> entityClass, QyFilterable filterable) {
		return new Specification() {
			@Override
			public Predicate toPredicate(Root root, CriteriaQuery query, CriteriaBuilder criteriaBuilder) {
				return filterable.toPredicate(entityClass, root, query, criteriaBuilder);
			}
		};
	}
	
	public Specification<T> fixedSpecification() {
		return new Specification() {
			@Override
			public Predicate toPredicate(Root root, CriteriaQuery query, CriteriaBuilder criteriaBuilder) {
				return null;
			}
		};
	}
	
}
