@startuml
page 2x2
skinparam defaultFontName Trebuchet MS
skinparam ClassBackgroundColor<<View>> LightCyan
skinparam ClassBackgroundColor<<Embeddable>> WhiteSmoke

/' Pacote com as delcarações de classes do plantuml (http://plantuml.com/class-diagram) 

   package "${rootPackage.name}.domain" <<Frame>> {
      class Pessoa {
      	- id: Long
      	- nome: String
      	-- tagged values --
      	 <b>@table.name</b>: CR_PESSOA
      	 <b>@plural</b>: Pessoas
      }		
   }	
'/

package "${rootPackage.name}.domain" <<Frame>> {

}

/' Pacote com as declaraões dos tipos Enums do sistema '/
package "${rootPackage.name}.domain.enums" <<Frame>>{

}

' Relacionamentos entre entidades '/

@enduml