```plantuml

/' Pacote com as delcarações de classes do plantuml (http://plantuml.com/class-diagram) 

   package "${rootPackage.name}.domain" <<Frame>> {
      class Pessoa {
      	- id: Long
      	- nome: String
      }		
   }	
'/
package "${rootPackage.name}.domain" <<Frame>> {

}

/' Pacote com as declaraões dos tipos Enums do sistema '/
package "${rootPackage.name}.domain.enums" <<Frame>>{

}

' Relacionamentos entre entidades '/

```