import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { Routes, RouterModule } from '@angular/router';
import { FlexLayoutModule } from '@angular/flex-layout';
import { DxDataGridModule } from 'devextreme-angular/ui/data-grid';
import { DxTextAreaModule } from 'devextreme-angular/ui/text-area';
import { DxButtonModule } from 'devextreme-angular/ui/button';
import { DxFormModule } from 'devextreme-angular/ui/form';
import { FontAwesomeModule } from '@fortawesome/angular-fontawesome';
import { library } from '@fortawesome/fontawesome-svg-core';
import { fas } from '@fortawesome/free-solid-svg-icons';

import { SideNavOuterToolbarModule } from 'src/app/shared/layouts/side-nav-outer-toolbar/side-nav-outer-toolbar.component';

import { DevReportListComponent } from 'src/app/@dev-area/view/report/report-list/dev-report-list.component';
import { DevReportEditComponent } from 'src/app/@dev-area/view/report/report-edit/dev-report-edit.component';
import { DevAreaPageComponent } from 'src/app/@dev-area/view/dev-area-page.component';

library.add(fas);

const DEVEXTREME_MODULES: any[] = [
  DxDataGridModule,
  DxTextAreaModule,
  DxButtonModule,
  DxFormModule
];

const ANGULAR_MODULES: any[] = [
  FlexLayoutModule,
  CommonModule
];

const routes: Routes = [
  { path: '', component: DevAreaPageComponent, children: [
      { path: '', redirectTo: 'report', pathMatch: 'full' },
      { path: 'report', children: [
          { path: '', component: DevReportListComponent },
          { path: 'edit', children: [
              { path: '', component: DevReportEditComponent },
              { path: ':idReport', component: DevReportEditComponent }
            ]
          }
        ]
      }
    ]
  }
];
@NgModule({
  imports: [
    DEVEXTREME_MODULES,
    ANGULAR_MODULES,
    SideNavOuterToolbarModule,
    FontAwesomeModule,
    RouterModule.forChild(routes)
  ],
  exports: [RouterModule],
  declarations: [
    DevReportEditComponent,
    DevReportListComponent,
    DevAreaPageComponent
  ]
})
export class DevAreaRoutingModule { };