#set ($DS = "$")
= ${projectDesc}
:toc:
:toc-title: Índice
:sectnums:
:experimental:

== Registrando a aplicação no keycloak em ambiente local

Para registrar a aplicação como __client__ no keycloak juntamente com as opções de autorização siga com os procedimentos abaixo: 

IMPORTANT: Para a correta execução do script é necessário que a instalação do *keycloak-4.8.3.Final* esteja localizada em `${DS}HOME/opt/` e a o serviço do keycloak na porta `8085`.

. Proceder primeiramente com o registro da aplicação Spring Boot (backend) associada ao projeto.

. Abrir o terminal do linux. 

. Entrar na raiz do projeto *${projectName}* e executar o script: `./scripts/keycloak/register-client.sh`

Após os procedimentos acima a aplicação ${projectName} estará com seu registro de segurança no keycloak efetivado.
