#set ($OB = "${")
#set ($CB = "}")
package ${rootPackage.name}.groovy.jii.sql.oracle

import org.apache.commons.lang3.StringUtils
import org.springframework.data.domain.Sort
import org.springframework.jdbc.core.JdbcTemplate

import ${rootPackage.name}.groovy.jii.JiiFilterable
import ${rootPackage.name}.groovy.jii.JiiFilterable.EmptyJiiFilterable
import ${rootPackage.name}.groovy.jii.sql.JiiSqlOrderByStep
import ${rootPackage.name}.groovy.jii.sql.JiiSqlPaginationStep
import ${rootPackage.name}.groovy.jii.sql.JiiSqlWhereStep

class OracleJiiWhereStep implements JiiSqlWhereStep {

	JdbcTemplate jdbcTemplate

	Map sqlFragments = [:]

	public OracleJiiWhereStep(JdbcTemplate jdbcTemplate, Map sqlFragments) {
		super()
		this.jdbcTemplate = jdbcTemplate
		this.sqlFragments = sqlFragments
	}

	@Override
	public List<Map<String, Object>> fetchMaps() {
		jdbcTemplate.queryForList(sqlFragments['sql']);
	}


	@Override
	public JiiSqlOrderByStep where(JiiFilterable filter) {
		if(filter instanceof EmptyJiiFilterable == false) {
			sqlFragments['whereSql'] = sqlFragments['sql'] = "${OB}sqlFragments['sql']${CB} where ${OB}filter.toSql()${CB} "
		}
		new OracleJiiOrderByStep(sqlFragments, jdbcTemplate)
	}

	@Override
	public JiiSqlPaginationStep orderBy(String sortSql) {
		if(StringUtils.isNotBlank(sortSql)) {
			sqlFragments['sql'] = "${OB}sqlFragments['sql']${CB} order by ${OB}sortSql${CB} "
		}
		new OracleJiiPaginationStep(sqlFragments, jdbcTemplate)
	}

	@Override
	public JiiSqlPaginationStep orderBy(Sort sort) {
		String orders = sort?.orders.collect { "${OB}it.property${CB} ${OB}it.direction${CB} " }.join(",")
		orderBy(orders);
	}
}
