#set ($OB = "${")
#set ($CB = "}")
package ${rootPackage.name}.groovy.jii.sql.oracle

import org.springframework.data.domain.Pageable
import org.springframework.jdbc.core.JdbcTemplate

import ${rootPackage.name}.groovy.jii.sql.JiiSqlPageableSelectStep
import ${rootPackage.name}.groovy.jii.sql.JiiSqlPaginationStep

class OracleJiiPaginationStep implements JiiSqlPaginationStep {

	JdbcTemplate jdbcTemplate

	Map sqlFragments = [:]

	public OracleJiiPaginationStep(Map sqlFragments, JdbcTemplate jdbcTemplate) {
		super()
		this.sqlFragments = sqlFragments
		this.jdbcTemplate = jdbcTemplate
	}

	@Override
	public List<Map<String, Object>> fetchMaps() {
		jdbcTemplate.queryForList(sqlFragments['sql'])
	}

	@Override
	public JiiSqlPageableSelectStep limit(Pageable pageable) {
		def sql = sqlFragments['whereSql'] ? sqlFragments['whereSql'] : sqlFragments['sourceSql']
		sqlFragments['countSql'] = "select count(0) from (${OB}sql${CB})  "
		if(pageable.pageNumber == 0) {
			sqlFragments['sql'] = "select * from ( ${OB}sqlFragments['sql']${CB} ) where rownum <= ${OB}pageable.pageSize${CB}"
			return new OracleJiiPageableSelectStep(jdbcTemplate, sqlFragments, pageable);
		}
		sqlFragments['sql'] = " select * from (  select row_.*, rownum rownum_ from ( ${OB}sqlFragments['sql']${CB} ) row_ where rownum <=  ${OB}(pageable.pageSize*pageable.pageNumber)+pageable.pageSize${CB} ) where  rownum_ > ${OB}pageable.pageSize*pageable.pageNumber${CB}"
		return new OracleJiiPageableSelectStep(jdbcTemplate, sqlFragments, pageable);
	}
}
