package ${rootPackage.name}.security.resource;

import org.keycloak.representations.idm.authorization.ResourceRepresentation;
import org.springframework.stereotype.Component;

import com.google.common.collect.Sets;

import br.jus.tre_pa.jsecurity.AbstractResourceConfiguration;

@Component
public class JReportResource extends AbstractResourceConfiguration {

	@Override
	public void configure(ResourceRepresentation representation) {
		representation.setName("JREPORT_RESOURCE");
		representation.setUris(Sets.newHashSet("/api/jreport/*"));
		representation.addScope("GET", "PUT", "DELETE", "POST");
	}

}
