#if(!$noWeb)
server.context-path=/${projectName}
server.port=8080
#end

#LOG PROPERTIES
logging.level.br.jus=DEBUG

#if(!$noJPA)
#Hibernate Second Level Cache
spring.jpa.properties.hibernate.cache.use_second_level_cache=true
spring.jpa.properties.hibernate.cache.use_query_cache=true
spring.jpa.properties.hibernate.cache.region.factory_class=org.hibernate.cache.ehcache.EhCacheRegionFactory
logging.level.net.sf.ehcache=DEBUG 
#end

#if(!$noWeb)
spring.jackson.serialization.WRITE_DATES_AS_TIMESTAMPS = false
spring.jackson.serialization.FAIL_ON_EMPTY_BEANS = false
#end