/' Arquivo com diagrama de classe principal do projeto. 
	Para visualizar o diagrama instale o plugin do eclipse, ver instrucões em: http://plantuml.com/eclipse '/

@startuml
page 2x2
skinparam defaultFontName Trebuchet MS
skinparam ClassBackgroundColor<<View>> LightCyan
skinparam ClassBackgroundColor<<Embeddable>> WhiteSmoke
skinparam nodesep 10
skinparam ranksep 10
/'left to right direction'/

/' Pacote com as delcarações de classes do plantuml (http://plantuml.com/class-diagram) 
    class Pessoa {
		- id: Long {id}
		- nome: String[100]
		- login: String[50]
		- cpf: String[11]
		- telefone: String[11]
		- altura: Long
		- peso: Long
		- ativo: Boolean
		- dataNasc: LocalDateTime
		- dataInicio: LocalDateTime
		- pessoaType: PessoaType
		- descricao: String[1000]
		-- tagged values --
		<b>@table.name</b>: CR_PESSOA
		<b>@cpf.label</b>: CPF
		<b>@cpf.mask</b>: 000.000.000-00
		<b>@telefone.mask</b>: (00) 00000-0000
		<b>@dataNasc.label</b>: Nascimento
		<b>@dataInicio.label</b>: Início de Exercício
		<b>@descricao.label</b>: Descrição
    }
'/

package "${rootPackage.name}.domain" <<Frame>> {

}

/' Pacote com as declaraões dos tipos Enums do sistema 

	enum PessoaType {
		SERVIDOR
		ESTAGIARIO
	}	
'/
package "${rootPackage.name}.domain.enums" <<Frame>>{

}

/' Relacionamentos entre entidades '/

@enduml