<h2>Pessoas</h2>
<dx-data-grid id="gridContainer"
  [dataSource]="pessoaDataSource"
  [allowColumnReordering]="true"
  [allowColumnResizing]="true"
  [wordWrapEnabled]="true"
  [showBorders]="true"
  [showRowLines]="true"
  [cellHintEnabled]="true"
  [columnAutoWidth]="true"
  [showColumnLines]="false"
  [remoteOperations]="true"
  columnResizingMode="widget"
  width="100%"
  (onToolbarPreparing)="onToolbarPreparing($event.toolbarOptions)">
  <dxo-state-storing [enabled]="true"
    type="localStorage"
    storageKey="pessoa-list-storage"></dxo-state-storing>
  <dxo-column-chooser [enabled]="true"
    mode="select"
    height="350"
    width="300"></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-paging [pageSize]="pageSize"></dxo-paging>
  <dxo-pager [allowedPageSizes]="[pageSize]"
    [showNavigationButtons]="true"
    [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-search-panel [visible]="true"
    [width]="300"></dxo-search-panel>
  <!-- COLUMNS -->
  <!-- ZONA -->
  <dxi-column dataField="zona.sigla"
    caption="Zona"
    alignment="left"
    calculateSortValue="zona.numero"
    [customizeText]="nullableDisplayText"
    [headerFilter]="{ dataSource: zonaHeaderFilter }"
    [allowFiltering]="false"
    [allowHeaderFiltering]="true"></dxi-column>
  <!-- NOME -->
  <dxi-column dataField="nome"
    [allowFiltering]="false"></dxi-column>
  <!-- E-MAIL -->
  <dxi-column dataField="email"
    caption="E-Mail"
    [visible]="false"
    [allowFiltering]="false"></dxi-column>
  <!-- CPF -->
  <dxi-column dataField="cpf"
    caption="CPF"
    [visible]="false"
    [allowFiltering]="false"></dxi-column>
  <!-- CONTATO PRIMÁRIO -->
  <dxi-column dataField="contatoPrimario"
    caption="Contato Primário"
    [allowFiltering]="false"></dxi-column>
  <!-- CONTATO SECUNDÁRIO -->
  <dxi-column dataField="contatoSecundario"
    caption="Contato Secundário"
    [visible]="false"
    [allowFiltering]="false"
    [customizeText]="nullableDisplayText"></dxi-column>
  <!-- UNIDADE -->
  <dxi-column dataField="unidade.sigla"
    caption="Unidade"
    alignment="left"
    [visible]="false"
    [headerFilter]="{ dataSource: unidadeHeaderFilter }"
    [allowFiltering]="false"
    [allowHeaderFiltering]="true"></dxi-column>
  <!-- TIPO -->
  <dxi-column dataField="pessoaType.label"
    caption="Tipo"
    alignment="left"
    calculateSortValue="pessoaType.viewOrder"
    [headerFilter]="{ dataSource: pessoaTypeHeaderFilter }"
    [allowFiltering]="false"
    [allowHeaderFiltering]="true"></dxi-column>
  <!-- OBSERVAÇÃO -->
  <dxi-column dataField="observacao"
    caption="Observação"
    [visible]="false"
    [allowFiltering]="false"
    [customizeText]="nullableDisplayText"></dxi-column>
  <!-- BUTTONS -->
  <dxi-column type="buttons"
    [fixed]="true"
    [allowResizing]="false"
    [showInColumnChooser]="false"
    [buttons]="[{
      icon: 'edit',
      hint: 'Editar',
      onClick: edit
    },{
      icon: 'chevronnext',
      hint: 'Ver Detalhes',
      onClick: detail
    }]">
  </dxi-column>
</dx-data-grid>