import { Component, OnInit } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { Router } from '@angular/router';
import { Title } from '@angular/platform-browser';
import DataSource from 'devextreme/data/data_source';

import { QyStore } from 'src/app/shared/qy/qy-store';

@Component({
  selector: 'app-${entity.instanceName}-list',
  templateUrl: './${entity.instanceName}-list.component.html',
  styles: []
})
export class ${entity.name}ListComponent implements OnInit {

  pageSize: number = 5;

  ${entity.instanceName}DataSource: DataSource;

  constructor(
    private httpClient: HttpClient,
    private router: Router,
    private title: Title
  ) { }

  ngOnInit() {
    this.title.setTitle('${title}');
    this.initHeaderFilters();
    this.${entity.instanceName}DataSource = new DataSource({
      store: new QyStore(this.httpClient, '/${entityApiName}')
    });
  }

  create() {
    this.router.navigate(['${entity.pluralInstanceName}', 'edit']);
  }

  nullableDisplayText(data): string {
    return data.value || '-';
  }

  edit = (event) => {
    this.router.navigate(['${entity.pluralInstanceName}', 'edit', event.row.data.id]);
    event.event.preventDefault();
  }

  detail = (event) => {
    this.router.navigate(['${entity.pluralInstanceName}', event.row.data.id]);
    event.event.preventDefault();
  }

  private initHeaderFilters() {
    
  }

  onToolbarPreparing(toolbar) {
    toolbar.items.unshift({
      location: 'before',
      widget: 'dxButton',
      options: {
        text: 'Nova',
        stylingMode: 'contained',
        type: 'success',
        onClick: () => this.create()
      }
    });
  }

}
