import { NgxPermissionsModule } from 'ngx-permissions';
import { NgModule, APP_INITIALIZER } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { HttpClientModule, HTTP_INTERCEPTORS } from '@angular/common/http';
import { SecuredHttpInterceptor } from './security/secured-http-interceptor';

import { AppRoutingModule } from './app-routing.module';
import { AppComponent } from './app.component';

import { KeycloakService } from './security/keycloak/keycloak.service';
import { SecurityService } from './security/security.service';

import "devextreme/localization/globalize/number";
import "devextreme/localization/globalize/date";
import "devextreme/localization/globalize/currency";
import "devextreme/localization/globalize/message";

import 'devextreme-intl';

import * as Globalize from 'globalize';

Globalize.load(require('cldr-data/supplemental/likelySubtags.json'))
Globalize.load(require('cldr-data/supplemental/numberingSystems.json'));
Globalize.load(require('cldr-data/main/pt/ca-gregorian.json'))
Globalize.load(require('cldr-data/main/pt/numbers.json'))
Globalize.load(require('cldr-data/main/pt/currencies.json'))
Globalize.load(require('cldr-data/supplemental/timeData.json'))
Globalize.load(require('cldr-data/supplemental/weekData.json'))
Globalize.load(require('cldr-data/supplemental/currencyData.json'))

Globalize.loadMessages(require('devextreme/localization/messages/pt.json'));

Globalize.locale('pt-BR')

export function kcFactory(securityService: SecurityService) {
  return () => securityService.init();
}

@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    AppRoutingModule,
    HttpClientModule,
    BrowserModule,
    NgxPermissionsModule.forRoot()
  ],
  providers: [
  	SecurityService,
    KeycloakService,
    {
      provide: HTTP_INTERCEPTORS,
      useClass: SecuredHttpInterceptor,
      multi: true
    },
    {
      provide: APP_INITIALIZER,
      useFactory: kcFactory,
      deps: [SecurityService, KeycloakService],
      multi: true
    }
  ],
  bootstrap: [AppComponent]
})
export class AppModule { }
