{
  "allowRemoteResourceManagement": true,
  "policyEnforcementMode": "ENFORCING",
  "resources": [
    {
      "name": "jreport",
      "ownerManagedAccess": false,
      "displayName": "JReport",
      "attributes": {},
      "uris": [
        "/api/jreport/*"
      ],
      "scopes": [
        {
          "name": "DELETE"
        },
        {
          "name": "GET"
        },
        {
          "name": "POST"
        },
        {
          "name": "PUT"
        }
      ]
    },
    {
      "name": "dev-jreport",
      "ownerManagedAccess": false,
      "displayName": "Dev JReport",
      "attributes": {},
      "uris": [
        "/api/dev/jreport/*"
      ],
      "scopes": [
        {
          "name": "DELETE"
        },
        {
          "name": "GET"
        },
        {
          "name": "POST"
        },
        {
          "name": "PUT"
        }
      ]
    }
  ],
  "policies": [
    {
      "name": "Developer User Policy",
      "type": "role",
      "logic": "POSITIVE",
      "decisionStrategy": "UNANIMOUS",
      "config": {
        "roles": "[{\"id\":\"DEVELOPER\",\"required\":true},{\"id\":\"${projectName}/USER\",\"required\":true}]"
      }
    },
    {
      "name": "User Policy",
      "type": "role",
      "logic": "POSITIVE",
      "decisionStrategy": "UNANIMOUS",
      "config": {
        "roles": "[{\"id\":\"${projectName}/USER\",\"required\":true}]"
      }
    },
    {
      "name": "JReport Permission",
      "type": "resource",
      "logic": "POSITIVE",
      "decisionStrategy": "UNANIMOUS",
      "config": {
        "resources": "[\"jreport\"]",
        "applyPolicies": "[\"User Policy\"]"
      }
    },
    {
      "name": "Dev JReport Permission",
      "type": "resource",
      "logic": "POSITIVE",
      "decisionStrategy": "UNANIMOUS",
      "config": {
        "resources": "[\"dev-jreport\"]",
        "applyPolicies": "[\"Developer User Policy\"]"
      }
    }
  ],
  "scopes": [
    {
      "name": "DELETE"
    },
    {
      "name": "GET"
    },
    {
      "name": "POST"
    },
    {
      "name": "PUT"
    }
  ]
}