import { TdMediaService } from '@covalent/core';
import { Component, OnInit, AfterViewInit, Input, ChangeDetectorRef } from '@angular/core';


@Component({
  selector: 'nav-list-layout',
  templateUrl: './nav-list-layout.component.html',
  styles: []
})
export class NavListLayoutComponent implements OnInit, AfterViewInit {

  /**
   *
   * @param media
   * @param _changeDetectorRef
   */
  constructor(
    public media: TdMediaService,
    private _changeDetectorRef: ChangeDetectorRef) { }

  ngOnInit() {
  }

  /**
   *
   */
  ngAfterViewInit(): void {
    this.media.broadcast();
    this._changeDetectorRef.detectChanges();
    // broadcast to all listener observables when loading the page
  }

}
