package ${rootPackage.name}.rest;

import java.util.HashMap;
import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.core.env.Environment;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

@RestController
@RequestMapping("env")
public class EnvRest {

	@Autowired
	private Environment env;

	@GetMapping
	public Map<String, Object> findAll() {
		Map<String, Object> environment = new HashMap<>();
		environment.put("keycloak_url", env.getProperty("keycloak.auth-server-url"));
		return environment;
	}

}