package ${rootPackage.name}.groovy.jii.filter;
import ${rootPackage.name}.groovy.jii.JiiFilterable

import java.util.stream.Collectors

import javax.persistence.criteria.CriteriaBuilder
import javax.persistence.criteria.CriteriaQuery
import javax.persistence.criteria.Predicate
import javax.persistence.criteria.Root


/**
 * Classe que representa uma operação AND.
 * 
 * @author jcruz
 *
 */
class JiiConjunction extends JiiFilterable {

	@Override
	String toSql() {
		String[] delimiter = this.predicates.size() > 1 ? ["(", ")"]: [" ", " "]
		this.predicates.stream().map { it.toSql() }.collect((Collectors.joining(" and ", delimiter[0], delimiter[1])))
	}

	@Override
	String toJpql() {
		String[] delimiter = this.predicates.size() > 1 ? ["(", ")"]: [" ", " "]
		this.predicates.stream().map { it.toSql() }.collect((Collectors.joining(" and ", delimiter[0], delimiter[1])))
	}

	@Override
	<T> Predicate toPredicate(Class<T> clazz, Root<T> root, CriteriaQuery<?> cq, CriteriaBuilder cb, Map paths) {
		cb.and(this.predicates.stream().map { it.toPredicate(clazz, root, cq, cb, paths)}.toList() as Predicate[])
	}
}

