export const environment = {
  production: true,
  contextPath: '/${projectName}',
  urlbase: '/${projectName}/api',
  keycloak_installation: { realm: 'TRE-PA', clientId: '${projectName}-frontend' },
  keycloak_redirect_uri: '/${projectName}',
  keycloak_clientId_sboot: '${projectName}-backend',
};
