<h2>{{ report?.title }}</h2>
<div *ngIf="aggregations"
  fxLayout="row">
  <div *ngFor="let agg of aggregations"
    class="dx-card content-block">
    <p>{{ agg.dataField }}</p>
    <p>{{ agg.operation }}</p>
    <p>{{ agg.result }}</p>
  </div>
</div>
<dx-data-grid id="gridContainer"
  [dataSource]="reportStore"
  [columns]="report?.grid?.columns"
  [remoteOperations]="true"
  (onToolbarPreparing)="onToolbarPreparing($event.toolbarOptions)">
  <!-- <dxo-summary>
    <dxi-total-item column="ID"
      summaryType="count"></dxi-total-item>
    <dxi-total-item column="NUMERO"
      summaryType="min"></dxi-total-item>
    <dxi-total-item column="NUMERO"
      summaryType="max"></dxi-total-item>
  </dxo-summary> -->
</dx-data-grid>
<dx-load-panel #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  container="#gridContainer"
  [position]="{ of: '#gridContainer' }"
  [visible]="downloadSub && !downloadSub.closed"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false">
</dx-load-panel>