package ${rootPackage.name}.groovy.qy.jpa

import org.springframework.data.domain.Pageable
import org.springframework.data.jpa.domain.Specification

import ${rootPackage.name}.groovy.qy.QyAggregable
import ${rootPackage.name}.groovy.qy.QyAggregation
import ${rootPackage.name}.groovy.qy.QyPage
import ${rootPackage.name}.groovy.qy.QyPayload
import ${rootPackage.name}.groovy.qy.QyProjectable
import ${rootPackage.name}.groovy.qy.QySpecification

interface QyRepository<T> {

	QyPage<T> findAll(Class<T> entityClass, Pageable pageable, QyProjectable projectable, Class<? extends QySpecification<T>> specificationClass, QyPayload payload)

	List<QyAggregation> aggregation(Class<T> entityClass, Specification<T> specification, QyAggregable... aggregables)
}
