package ${groupId.name}.repository;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import ${entity.qualifiedName};
import java.util.Optional;

/**
 * Classe repositório da entidade {@link ${entity.name}}.
 *
 * @author SDS/COSIS/STI/TRE-PA
 *
 */
@Repository
public interface ${repositoryName} extends JpaRepository<${entity.name}, Long> {

  Optional<${entity.name}> findById(Long id);

}
