#set ($OB = "${")
#set ($CB = "}")
#
# WEB CONFIGS 
#
server.servlet.context-path=/${projectName}
server.port=${OB}SERVER_PORT:8080${CB}
spring.jackson.serialization.WRITE_DATES_AS_TIMESTAMPS=false

#
# DATABASE CONFIGS
#
spring.datasource.url=${OB}DB_URL:jdbc:h2:./target/db/${projectName};DB_CLOSE_ON_EXIT=FALSE${CB}
spring.datasource.driver-class-name=${OB}DB_DRIVER:org.h2.Driver${CB}
spring.datasource.username=${OB}DB_USERNAME:sa${CB}
spring.datasource.password=${OB}DB_PASSWORD:${CB}
spring.datasource.sqlScriptEncoding=UTF-8
spring.h2.console.path=/h2
spring.h2.console.enabled=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.hibernate.use-new-id-generator-mappings=true

spring.datasource.initialization-mode=always
spring.datasource.continue-on-error=true
spring.jackson.mapper.default-view-inclusion=true

#
# LOG CONFIGS
# 
logging.level.br.jus=${OB}LOG_LEVEL:DEBUG${CB}
logging.level.org.hibernate.SQL=${OB}LOG_LEVEL:DEBUG${CB}
logging.level.org.springframework.jdbc.core.JdbcTemplate=${OB}LOG_LEVEL:debug${CB}
logging.level.org.keycloak=${OB}LOG_LEVEL:DEBUG${CB}

#
# FLYWAY CONFIGS
# Devido a incompatibilidade com o Oracle 10c é necessário Comentar os códigos do flayway no aap.properties
#spring.flyway.baseline-version=0
#spring.flyway.baseline-on-migrate=true

#
#KEYCLOAK
#
keycloak.auth-server-url=${OB}KEYCLOAK_URL:http://localhost:8085/auth${CB}
keycloak.realm=${OB}KEYCLOAK_REALM:TRE-PA${CB}
keycloak.resource=${OB}KEYCLOAK_CLIENT_ID:${projectName}-backend${CB}
keycloak.credentials.secret=${OB}KEYCLOAK_SECRET:${clientSecret}${CB}
keycloak.ssl-required=external
keycloak.use-resource-role-mappings=true
keycloak.bearer-only=true

kc.adm-user=${OB}KEYCLOAK_ADM_USER:admin${CB}
kc.adm-pass=${OB}KEYCLOAK_ADM_PASS:admin${CB}
kc.base-url=${OB}KEYCLOAK_BASE_URL:http://localhost:8080/${projectName}${CB}
kc.redirect-uris=${OB}KEYCLOAK_REDIRECT_URIS:http://localhost:4200/*,http://localhost:8080/*${CB}

# Desabilitação do Keyloak para senvir o index.html
keycloak.policy-enforcer-config.paths[0].path=/*
keycloak.policy-enforcer-config.paths[0].enforcement-mode=DISABLED

# Desabilitação do Keyloak para {kc.base-url}/h2/*
keycloak.policy-enforcer-config.paths[1].path=/h2/*
keycloak.policy-enforcer-config.paths[1].enforcement-mode=DISABLED

# Desabilitação do Keyloak para {kc.base-url}/env/*
keycloak.policy-enforcer-config.paths[2].path=/env/*
keycloak.policy-enforcer-config.paths[2].enforcement-mode=DISABLED

# Spring actuator
endpoints.info.id="springinfo"
info.app.name="Exemplo"
info.app.description="Spring Boot Actuator"
info.app.version=1.0.0
endpoints.info.sensitive=false
endpoints.info.enabled=true
# Se true, habilita a segurança no actuator
endpoints.beans.sensitive=false
endpoints.beans.enabled=true
management.endpoint.health.show-details=always
# Habilita todos os endpoints no actuator
management.endpoints.web.exposure.include=*
spring.application.admin.enabled=true
management.endpoint.shutdown.enabled=true

keycloak.policy-enforcer-config.enforcement-mode=ENFORCING
keycloak.policy-enforcer-config.http-method-as-scope=true
