/* You can add global styles to this file, and also import other style files */

$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;

html, body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.adx-form {
  margin: -15px -15px -15px -15px !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.adx-form-field {
  padding: 0 15px 0 15px !important;
  flex-direction: column !important;
  box-sizing: border-box !important;
  display: flex !important;
  place-content: flex-start !important;
  align-items: flex-start !important;
}

.adx-form-field-label {
  padding: 10px 0 0 0 !important;
  color: rgba(117, 117, 117, 0.87) !important;
  font-size: 12px !important;
  cursor: default !important;
}

.adx-form-field-editor {
  .dx-widget {
    flex: 1 1 100%;
  }
  padding: 0 0 20px 0 !important;
  flex-direction: row !important;
  box-sizing: border-box !important;
  display: flex !important;
  place-content: flex-start !important;
  align-items: flex-start !important;
  width: 100% !important;
}

.adx-form-footer {
  flex: 1 1 100% !important;
  margin: 0 !important;
  padding: 15px !important;
}

.adx-form-buttons {
  flex: 1 1 100% !important;
  flex-direction: row !important;
  place-content: end space-between !important;
  padding-top: 10px !important;
}

.responsive-large-field {
  flex: 1 1 100%;
  width: 100%;
}

.responsive-medium-field {
  @media screen and (max-width: $sm) {
    flex: 1 1 100%;
    width: 100%;
  }
  @media screen and (min-width: $sm) {
    flex: 1 1 50%;
    width: 50%;
  }
}

.responsive-small-field {
  @media screen and (max-width: $xs) {
    flex: 1 1 100%;
    width: 100%;
  }
  @media screen and (min-width: $xs) and (max-width: $sm) {
    flex: 1 1 50%;
    width: 50%;
  }
  @media screen and (min-width: $sm) {
    flex: 1 1 33.33%;
    width: 33.33%;
  }
}

.flex-100 {
  flex: 1 1 100% !important;
  width: 100% !important;
}

.flex-90 {
  flex: 1 1 90% !important;
  width: 90% !important;
}

.flex-80 {
  flex: 1 1 80% !important;
  width: 80% !important;
}

.flex-75 {
  flex: 1 1 75% !important;
  width: 75% !important;
}

.flex-70 {
  flex: 1 1 70% !important;
  width: 70% !important;
}

.flex-66 {
  flex: 1 1 66.66% !important;
  width: 66.66% !important;
}

.flex-60 {
  flex: 1 1 60% !important;
  width: 60% !important;
}

.flex-50 {
  flex: 1 1 50% !important;
  width: 50% !important;
}

.flex-40 {
  flex: 1 1 40% !important;
  width: 40% !important;
}

.flex-33 {
  flex: 1 1 33.33% !important;
  width: 33.33% !important;
}

.flex-30 {
  flex: 1 1 30% !important;
  width: 30% !important;
}

.flex-25 {
  flex: 1 1 25% !important;
  width: 25% !important;
}

.flex-20 {
  flex: 1 1 20% !important;
  width: 20% !important;
}

.flex-10 {
  flex: 1 1 10% !important;
  width: 10% !important;
}