<h2>{{ id ? 'Edição de' : 'Nova' }} ${entity.name}</h2>
<div class="dx-card content-block">
  <form *ngIf="${entity.tsFileName}"
    autocomplete="off"
    (submit)="save($event)">
    <div class="adx-form">
      ${ngEditTemplates.createHtmlAttributesDecl($entity)}
      <div class="adx-form-footer">
				<dx-validation-summary id="summary"></dx-validation-summary>
				<div class="adx-form-buttons">
					<dx-button id="button"
						text="Cancelar"
						type="fail"
						[useSubmitBehavior]="false">
					</dx-button>
					<span fxFlex></span>
					<dx-button id="button"
						text="Salvar"
						type="success"
						[useSubmitBehavior]="true"
						[disabled]="saveSub  && !saveSub.closed">
					</dx-button>
				</div>
			</div>
    </div>
  </form>
</div>