#set ($OB = "${")
#set ($CB = "}")
import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { Observable } from 'rxjs';

import { environment } from 'src/environments/environment';
import { CrudService } from 'src/app/shared/crud.service';
import { Report } from 'src/app/domain/report';

@Injectable({
  providedIn: 'root'
})
export class DevReportService extends CrudService<Report> {

  private url: string = `${OB}environment.urlbase${CB}/dev/jreport`;

  constructor(private http: HttpClient) {
    super(http, '/dev/jreport');
  }

  save(report: Report): Observable<Report> {
    return report.id ?
      this.update(report.id, report) :
      this.insert(report);
  }

  previewSQL(report: Report): Observable<any> {
    return this.http.post<any>(`${OB}this.url${CB}/preview/datasource`, report);
  }

  previewPDF(report: Report): Observable<any> {
    return this.http.post<any>(`${OB}this.url${CB}/preview/pdf`, report);
  }

  genDefaultColumnsTemplate(report: Report): Observable<any> {
    return this.http.post<any>(`${OB}this.url${CB}/columns/template`, report);
  }

  genDefaultGPDFTemplate(): Observable<any> {
    return this.http.get<any>(`${OB}this.url${CB}/gpdf/template`);
  }

}
