import { Component, OnInit } from '@angular/core';

@Component({
  selector: '${pageFileName}',
  templateUrl: './${pageFileName}-page.component.html',
  styles: []
})
export class ${pageClassName} implements OnInit {

  constructor() { }

  ngOnInit() {
  }

}
