#set ($OB = "${")
#set ($CB = "}")
package ${rootPackage.name}.groovy.jii.sql.h2

import org.apache.commons.lang3.StringUtils
import org.springframework.jdbc.core.JdbcTemplate

import ${rootPackage.name}.groovy.jii.JiiAggregable
import ${rootPackage.name}.groovy.jii.JiiAggregation
import ${rootPackage.name}.groovy.jii.JiiFilterable
import ${rootPackage.name}.groovy.jii.JiiFilterable.EmptyJiiFilterable
import ${rootPackage.name}.groovy.jii.JiiPayload
import ${rootPackage.name}.groovy.jii.sql.JiiSqlContext
import ${rootPackage.name}.groovy.jii.sql.JiiSqlWhereStep

class H2JiiContextImpl implements JiiSqlContext {

	JdbcTemplate jdbcTemplate

	Map sqlFragments = [:]

	public H2JiiContextImpl(JdbcTemplate jdbcTemplate) {
		super()
		this.jdbcTemplate = jdbcTemplate
	}

	@Override
	public JiiSqlWhereStep selectFrom(String sql) {
		def selectSql = StringUtils.prependIfMissing(sql, "select * from (")
		selectSql = StringUtils.appendIfMissing(selectSql, " ) ")

		sqlFragments['sourceSql'] = sql
		sqlFragments['sql'] = selectSql

		return new H2JiiWhereStep(jdbcTemplate,sqlFragments)
	}

	@Override
	public List<JiiAggregation> aggregation(String sql, JiiPayload payload) {
		if(!payload?.aggregables) return null;
		List<JiiAggregation> aggregrations = payload.aggregables.collect { 
			def whereSql = payload.filterable instanceof EmptyJiiFilterable ? "": "where ${OB}payload.filterable.toSql()${CB}" ;
			def aggSql = "select ${OB}it.operation.name()${CB}(${OB}it.dataField${CB}) from ( ${OB}sql${CB} ) ${OB}whereSql${CB} "; 
			def result = jdbcTemplate.queryForObject(aggSql, Object.class);
			new JiiAggregation(dataField: it.dataField, operation: it.operation, result: result);
		}
		return aggregrations
	}

	@Override
	public void clear() {
		sqlFragments.clear()
	}
}
