<div class="user-panel">
  <div class="user-options"
    fxLayout="row">
    <div [ngStyle]="randonColorStyle()"
      class="user-initials">{{ getInitials() }}</div>
    <fa-icon [icon]="['fas', 'ellipsis-v']"
      class="ellipsis-icon"></fa-icon>
  </div>
  <dx-context-menu *ngIf="menuMode === 'context'"
    [position]="{ my: 'top center', at: 'bottom center' }"
    (onItemClick)="itemMenuClick($event)"
    target=".user-button"
    cssClass="user-menu"
    [items]="menuItems"
    showEvent="dxclick"
    width="170px">
    <div *dxTemplate="let item of 'item'"
      [ngClass]="{ 'user-info': item.text === 'userinfo'}">
      <div *ngIf="item.text === 'userinfo'; else defaultItemTemplate">
        <p class="user-name">{{ userInfo?.name || userInfo?.preferred_username }}</p>
        <p class="user-email"
          title="userInfo?.email">{{ userInfo?.email }}</p>
      </div>
      <ng-template #defaultItemTemplate>
        <ng-template [ngIf]="!item.isHidden">
          <div fxLayout="row">
            <div class="menu-icon-container">
              <fa-icon [icon]="['fas', item.icon]"></fa-icon>
            </div>
            {{ item.text }}
          </div>
        </ng-template>
      </ng-template>
    </div>
  </dx-context-menu>
  <dx-list class="dx-toolbar-menu-action"
    *ngIf="menuMode === 'list'"
    (onItemClick)="itemMenuClick($event)"
    [items]="menuItems">
    <div *dxTemplate="let item of 'item'">
      <div *ngIf="item.text === 'userinfo'; else defaultItemTemplate">
        {{ item.text }}
      </div>
      <ng-template #defaultItemTemplate>
        <div class="menu-icon-container">
          <fa-icon [icon]="['fas', item.icon]"></fa-icon>
        </div>
        {{ item.text }}
      </ng-template>
    </div>
  </dx-list>
</div>