@import "../../../../themes/generated/variables.base.scss";

:host {
    display: block;
}

:host ::ng-deep .dx-toolbar-items-container {
    .dx-toolbar-after {
        padding: 0 40px;
    }
}

:host :host-context(.screen-x-small) ::ng-deep .dx-toolbar-items-container .dx-toolbar-after {
    padding: 0 20px;
}

::ng-deep .menu-button {
    margin: 0 12px;
}

:host ::ng-deep .dx-menu-base {
    .dx-menu-item-wrapper {
        width: 173px;
    }
}

:host-context(.dx-theme-generic) {
    .dx-toolbar {
        padding: 10px 0;
    }

    .user-button>.dx-button-content {
        padding: 3px;
    }
}

:host {
    flex: 0 0 auto;
    z-index: 1;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    ::ng-deep .dx-toolbar .dx-toolbar-item-content > .menu-button .dx-icon {
        color: $base-accent;
    }
}

.toolbarTitle {
    cursor:pointer; font-size: 20px; font-weight: normal; font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
}

// estilos do user-panel

.user-initials {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 0px 5px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.ellipsis-icon {
    font-size: 18px;
    color: #737373;
    margin: 5px 5px;
}

.menu-icon-container {
    font-size: 18px;
    text-align: center;
    width: 30px;
}

.user-info {
    background-color: #fff !important;
    cursor: default;
}

.user-info :hover {
    background-color: #fff !important;
}

.user-name {
    margin: 0px;
    width: 170px !important;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;                 /* Opera 4-6 */
    white-space: -o-pre-wrap;               /* Opera 7 */
    white-space: pre-wrap;                  /* CSS-3 */
    word-wrap: break-word;                  /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap;          /* Newer versions of Chrome/Safari*/
    word-break: normal;
    white-space: normal;
}

.user-email {
    margin: 0px;
    width: 170px !important;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #737373;
}

::ng-deep .dx-toolbar-menu-section {
    .user-options {
        padding: 10px 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

::ng-deep .user-panel {
    .dx-rtl {
        .dx-list-item {
            .dx-icon {
                margin-right: 0;
                margin-left: 16px;
            }
        }
    }
    .dx-list-item {
        .dx-icon {
            vertical-align: middle;
            color: rgba(0, 0, 0, 0.87);
            margin-right: 16px;
        }
    }
}

::ng-deep .dx-context-menu {
    &.dx-rtl {
        &.user-menu {
            .dx-submenu {
                .dx-menu-items-container {
                    .dx-icon {
                        margin-left: 16px;
                    }
                }
            }
        }
    }
    &.user-menu {
        .dx-submenu {
            .dx-menu-items-container {
                .dx-icon {
                    margin-right: 16px;
                }
            }
        }
    }
    .dx-menu-item {
        .dx-menu-item-content {
            padding: 3px 16px 4px;
        }
    }
}

::ng-deep .dx-theme-generic {
    .dx-menu-item-content {
        .dx-menu-item-text {
            padding-left: 4px;
            padding-right: 4px;
        }
    }
}
