<header>
  <dx-toolbar>
    <dxi-item *ngIf="menuToggleEnabled"
      location="before"
      widget="dxButton"
      [options]="{
        icon: 'menu',
        stylingMode: 'text',
        onClick: toggleMenu,
        elementAttr: { class: 'menu-button' }
      }">
    </dxi-item>
    <dxi-item location="before"
    *ngIf="toolbarTitle">
      <div class="toolbarTitle" (click)="home()">
          {{toolbarTitle}}
      </div>
    </dxi-item>
    <dxi-item location="before"
      *ngIf="toolbarTitle">
    </dxi-item>
    <dxi-item location="after"
      locateInMenu="auto"
      [visible]="isUserAuthorized"
      menuItemTemplate="menuItem">
      <div *dxTemplate="let data of 'item'">
        <dx-button class="user-button authorization"
          width="70px"
          height="100%"
          stylingMode="text">
          <div *dxTemplate="let data of 'content'">
            <div class="user-panel">
              <div class="user-options"
                fxLayout="row">
                <div [ngStyle]="randonColorStyle()"
                  class="user-initials">
                  {{ userInitials }}
                </div>
                <fa-icon [icon]="['fas', 'ellipsis-v']"
                  class="ellipsis-icon">
                </fa-icon>
              </div>
              <dx-context-menu [position]="{ my: 'top center', at: 'bottom center' }"
                (onItemClick)="onUserMenuItemClick($event.itemData)"
                target=".user-button"
                cssClass="user-menu"
                [items]="userMenuItems"
                showEvent="dxclick"
                width="170px">
                <div *dxTemplate="let item of 'item'"
                  [ngClass]="{ 'user-info': item.text === 'userinfo'}">
                  <div *ngIf="item.text === 'userinfo'; else defaultItemTemplate">
                    <p class="user-name">
                      {{ userInfo?.name || userInfo?.preferred_username }}
                    </p>
                    <p class="user-email"
                      [title]="userInfo?.email">
                      {{ userInfo?.email }}
                    </p>
                  </div>
                  <ng-template #defaultItemTemplate>
                    <ng-template [ngIf]="!item.isHidden">
                      <div fxLayout="row">
                        <div class="menu-icon-container">
                          <fa-icon [icon]="['fas', item.icon]"></fa-icon>
                        </div>
                        {{ item.text }}
                      </div>
                    </ng-template>
                  </ng-template>
                </div>
              </dx-context-menu>
            </div>
          </div>
        </dx-button>
      </div>
    </dxi-item>
  </dx-toolbar>
</header>