<!-- Layout Teradata com as seguintes regiões: -->
<!-- sidenav:           Barra de conteúdo lateral -->
<!-- top-toolbar-left:  Região esquerda do toolbar do topo -->
<!-- top-toolbar-right: Região direita do toolbar do topo -->
<!-- main-content:      Região de conteúdo principal -->
<td-layout-nav-list #navList 
  toolbarTitle="demo" 
  [opened]="media.registerQuery('gt-sm') | async" 
  [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
  [sidenavWidth]="(media.registerQuery('gt-xs') | async) ?  '350px' : '100%'" 
  navigationRoute="/">
  <!-- SIDENAV -->
  <div td-sidenav-toolbar-content
    layout="row"
    layout-align="start center"
    flex>
    <button mat-icon-button
      td-menu-button
      tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div layout="column">
      <span [routerLink]="['/']"
        style="cursor: pointer; text-transform: uppercase;">{{ title }}</span>
      <h3 class="md-subhead text-upper">{{ subtitle }}</h3>
    </div>
  </div>
  <mat-nav-list layout-fill 
    td-sidenav-content 
    (click)="!media.query('gt-sm') && navList.close()" 
    class="pad-top-none">
    <ng-content select="[sidenav]"></ng-content>
  </mat-nav-list>
  <!-- TOP TOOLBAR -->
  <div td-toolbar-content 
    layout="row" 
    layout-align="left center" 
    flex>
    <ng-content select="[top-toolbar-left]"></ng-content>
    <span flex></span>
    <ng-content select="[top-toolbar-right]"></ng-content>
  </div>
  <!-- MAIN CONTENT -->
  <ng-content select="[main-content]"></ng-content>
</td-layout-nav-list>
