#set($SQ = "'")
#set($C1 = "[") 
#set($C2 = "]")
#macro(tsImport $type)
$SQ./$Strman.toKebabCase($type)$SQ;
#end

##Itera sobre os atributos simples
#foreach($attribute in $entity.simpleAttributes)
import { $attribute.type } from #tsImport($attribute.type.name);
#end
##Itera sobre os atributos de relacionamento
#foreach($attribute in $entity.relationshipAttributes)
import { $attribute.type.typeArguments[0].name } from #tsImport($attribute.type.typeArguments[0].name);
#end

export class ${entityClassName} {
##Itera sobre os atributos simples
#foreach($attribute in $entity.simpleAttributes)
$attribute.name?: $attribute.type.name;
#end
##Itera sobre os atributos de relacionamento
#foreach($attribute in $entity.relationshipAttributes)
$attribute.name?: $attribute.type.typeArguments[0].name$C1$C2;
#end
##Itera sobre os atributos do tipo enum
#foreach($attribute in $entity.enumAttributes)
$attribute.name?: $typesMap[$attribute.enum.get().type.name];
#end
}