import { Component, OnInit, Input } from '@angular/core';

/**
 * 
 */
@Component({
  selector: 'nav-view-layout',
  templateUrl: './nav-view-layout.component.html',
  styles: []
})
export class NavViewLayoutComponent implements OnInit {

  constructor() { }

  ngOnInit() {
  }

}
