package ${rootPackage.name}.groovy.qy.sql.h2

import org.apache.commons.lang3.StringUtils
import org.springframework.data.domain.Sort
import org.springframework.jdbc.core.JdbcTemplate

import ${rootPackage.name}.groovy.qy.sql.QySqlOrderByStep
import ${rootPackage.name}.groovy.qy.sql.QySqlPaginationStep

class H2QyOrderByStep implements QySqlOrderByStep {

	JdbcTemplate jdbcTemplate

	Map sqlFragments = [:]

	public H2QyOrderByStep(Map sqlFragments, JdbcTemplate jdbcTemplate) {
		super()
		this.sqlFragments = sqlFragments
		this.jdbcTemplate = jdbcTemplate
	}

	@Override
	public List<Map<String, Object>> fetchMaps() {
		jdbcTemplate.queryForList(sqlFragments)
	}

	@Override
	public QySqlPaginationStep orderBy(String sortSql) {
		if(StringUtils.isNotBlank(sortSql)) {
			sqlFragments['sql'] = "${sqlFragments['sql']} order by ${sortSql} "
		}
		new H2QyPaginationStep(sqlFragments, jdbcTemplate)
	}

	@Override
	public QySqlPaginationStep orderBy(Sort sort) {
		String orders = sort?.orders.collect { "${it.property} ${it.direction} " }.join(",")
		orderBy(orders);
	}
}
