package ${packageRoot.name};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class ${mainClassName}Application {

	public static void main(String[] args) {
		SpringApplication.run(${mainClassName}Application.class, args);
	}
}