package ${rootPackage.name};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class ${baseClassName}Application {

	public static void main(String[] args) {
		SpringApplication.run(${baseClassName}Application.class, args);
	}
}