import { 
  Component, 
  OnInit, 
  Input 
} from '@angular/core';

@Component({
  selector: 'nav-view-layout',
  templateUrl: './nav-view-layout.component.html'
})
export class NavViewLayoutComponent implements OnInit {

  @Input()
  title: string;

  @Input()
  subtitle: string;

  constructor() { }

  ngOnInit() { }

}
