<td-layout-nav color="primary"
  navigationRoute="/">
  <!-- TOP TOOLBAR -->
  <div td-toolbar-content
    layout="row"
    layout-align="start center"
    flex>
    <button mat-icon-button
      td-menu-button
      tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div layout="column">
      <span [routerLink]="['/']"
        style="cursor: pointer;">{{ layoutTitle }}</span>
      <h3 class="md-subhead">{{ layoutSubtitle }}</h3>
    </div>
    <ng-content select="[top-toolbar-left]"></ng-content>
    <span flex></span>
    <ng-content select="[top-toolbar-right]"></ng-content>
  </div>
  <!-- MAIN CONTENT -->
  <ng-content select="[main-content]"></ng-content>
</td-layout-nav>
