import {
  Component,
  OnInit
} from '@angular/core';
import {
  Router,
  ActivatedRoute
} from '@angular/router';
import { HttpClient } from '@angular/common/http';
import { Title } from '@angular/platform-browser';
import DataSource from 'devextreme/data/data_source';

import { DevReportService } from 'src/app/@dev-area/dev-report.service';
import { QyStoreOptions } from 'src/app/shared/qy/qy-store-options';
import { QyStore } from 'src/app/shared/qy/qy-store';
import { Report } from 'src/app/domain/report';

@Component({
  selector: 'app-dev-report-edit',
  templateUrl: './dev-report-edit.component.html',
  styleUrls: ['./dev-report-edit.component.scss']
})
export class DevReportEditComponent implements OnInit {

  idReport: number;
  report: Report;

  categoryDataSource: DataSource;

  constructor(
    private devReportService: DevReportService,
    private activatedRoute: ActivatedRoute,
    private httpClient: HttpClient,
    private router: Router,
    private title: Title
  ) { }

  ngOnInit() {
    this.processReport();
    let categoryStoreOptions: QyStoreOptions = {
      path: 'dev/jreport',
      loadEndpoint: `/categories`,
      loadByGet: true
    };
    this.categoryDataSource = new DataSource({
      store: new QyStore(this.httpClient, categoryStoreOptions),
      paginate: true,
      pageSize: 10
    });
  }

  processReport() {
    this.idReport = +this.activatedRoute.snapshot.params['idReport'];
    if (this.idReport && !isNaN(this.idReport)) this.edit();
    else this.create();
  }

  private create() {
    this.title.setTitle('Novo Relatório');
    this.report = new Report();
  }

  private edit() {
    this.title.setTitle('Edição de Relatório');
    this.devReportService.findById(this.idReport)
      .subscribe(report => this.report = report);
  }

  back() {
    this.router.navigate(['dev-area', 'report']);
  }

  save(event) {
    this.devReportService.save(this.report)
      .subscribe(() => this.back());
    event.preventDefault();
  }

}
