package ${rootPackage.name}.groovy.qy.filter;

import javax.persistence.criteria.CriteriaBuilder
import javax.persistence.criteria.CriteriaQuery
import javax.persistence.criteria.Predicate
import javax.persistence.criteria.Root

import com.fasterxml.jackson.annotation.JsonSubTypes
import com.fasterxml.jackson.annotation.JsonTypeInfo
import com.fasterxml.jackson.annotation.JsonSubTypes.Type

/**
 * Classe base dos predicados de comparação e operadores lógicos (AND,OR).
 * 
 * @author jcruz
 *
 */
@JsonTypeInfo(use = JsonTypeInfo.Id.NAME, include = JsonTypeInfo.As.PROPERTY, property = "type")
// @formatter:off
@JsonSubTypes([
	@Type(value=QyConjunction.class, name="and"),
	@Type(value=QyDisjunction.class, name="or"),
	@Type(value=QyEqualsPredicate.class, name="="),
	@Type(value=QyNotEqualsToPredicate.class, name="<>"),
	@Type(value=QyGreaterThanPredicate.class, name=">"),
	@Type(value=QyGreaterThanOrEqualsToPredicate.class, name=">="),
	@Type(value=QyLessThanPredicate.class, name="<"),
	@Type(value=QyLessThanOrEqualsToPredicate.class, name="<="),
	@Type(value=QyContainsPredicate.class, name="contains"),
	@Type(value=QyNotContainsPredicate.class, name="notcontains")
])
// @formatter:on
abstract class QyExpression {
	String type

	abstract String toSql()

	abstract String toJpql()

	abstract <T> Predicate toPredicate(Class<T> clazz, Root<T> root, CriteriaQuery<?> cq, CriteriaBuilder cb, Map attrTable)

}

