import {
  EventEmitter,
  Component,
  NgModule,
  Output,
  Input
} from '@angular/core';
import { Router } from '@angular/router';
import { CommonModule } from '@angular/common';
import { DxToolbarModule } from 'devextreme-angular/ui/toolbar';
import { DxButtonModule } from 'devextreme-angular/ui/button';
import { DxPopupModule } from 'devextreme-angular/ui/popup';

import { KeycloakService } from './../../../security/keycloak/keycloak.service';
import { LoginFormModule } from '../login-form/login-form.component';
import { UserPanelModule } from '../user-panel/user-panel.component';

@Component({
  selector: 'app-header',
  templateUrl: 'header.component.html',
  styleUrls: ['./header.component.scss']
})

export class HeaderComponent {

  @Output()
  menuToggle = new EventEmitter<boolean>();

  @Input()
  menuToggleEnabled = false;

  @Input()
  toolbarTitle: string;

  showLoginPopup = false;
  isUserAuthorized = true;
  userMenuItems = [
    {
      text: 'userinfo',
      closeMenuOnClick: false
    },
    {
      text: 'Dev Area',
      icon: 'coffee'
    },
    {
      text: 'Logout',
      icon: 'running'
    }
  ];

  constructor(
    private router: Router,
    private keycloakService: KeycloakService
  ) { }

  toggleMenu = () => {
    this.menuToggle.emit();
  }

  onShowLoginPopup = () => {
    this.showLoginPopup = true;
  }

  onLoginClick(args) {
    this.showLoginPopup = false;
    this.isUserAuthorized = true;
  }

  onUserMenuItemClick(item) {
    if (item === this.userMenuItems[1]) this.router.navigate(['/dev-area']);
    if (item === this.userMenuItems[2]) this.keycloakService.logout();
  }
}

@NgModule({
  imports: [
    LoginFormModule,
    UserPanelModule,
    DxToolbarModule,
    DxButtonModule,
    DxPopupModule,
    CommonModule
  ],
  declarations: [HeaderComponent],
  exports: [HeaderComponent]
})
export class HeaderModule { }
