import { Component, OnDestroy, OnInit } from '@angular/core';
import { Router, ActivatedRoute } from '@angular/router';
import { Title } from '@angular/platform-browser';
import { Subject } from 'rxjs';
import { takeUntil } from 'rxjs/operators';
import { confirm } from 'devextreme/ui/dialog';
import notify from 'devextreme/ui/notify';

import { ${entity.name}Service } from 'src/app/service/${entity.tsFileName}.service';
import { ${entity.name} } from 'src/app/domain/${entity.tsFileName}';

@Component({
  selector: 'app-${entity.tsFileName}',
  templateUrl: './${entity.tsFileName}-detail.component.html',
  styles: []
})
export class ${entity.name}DetailComponent implements OnInit, OnDestroy {

  id: number;
  ${entity.instanceName}: ${entity.name};

  destroy$: Subject<boolean> = new Subject<boolean>();

  constructor(
    private activatedRoute: ActivatedRoute,
    private ${entity.instanceName}Service: ${entity.name}Service,
    private router: Router,
    private title: Title
  ) { }

  ngOnInit() {
    this.title.setTitle('Detalhes da ${entity.name}');
    this.id = +this.activatedRoute.snapshot.params['id'];
    this.${entity.instanceName}Service.findDetailById(this.id)
      .pipe(takeUntil(this.destroy$))
      .subscribe(${entity.instanceName} => this.${entity.instanceName} = ${entity.instanceName});
  }

  ngOnDestroy() {
    this.destroy$.next(true);
    this.destroy$.unsubscribe();
  }

  edit() {
    this.router.navigate(['${entity.pluralInstanceName}', 'edit', this.id]);
  }

  confirmDelete() {
    confirm("Deseja mesmo excluir a ${entity.name}?", "Confirme Exclusão")
      .then(result => {
        if (result) this.delete();
        else notify('Exclusão de ${entity.name} cancelada', 'info', 3000);
      });
    ;
  }

  private delete() {
    this.${entity.instanceName}Service.delete(this.id)
      .pipe(takeUntil(this.destroy$))
      .subscribe(() => {
        notify('${entity.name} excluída com sucesso', 'success', 3000);
        this.back();
      });
  }

  back() {
    this.router.navigate(['${entity.pluralInstanceName}']);
  }

}
