<h2 fxLayout="row"
  fxLayoutAlign="space-between center">
  Detalhes da ${entity.name}
  <dx-button text="Excluir"
    type="default"
    (onClick)="confirmDelete()"></dx-button>
</h2>
<div class="dx-card content-block">
  ${ngDetailTemplates.createHtmlAttributesDecl($entity)}
  
  <div fxLayout="row"
    fxLayoutAlign="space-between center">
    <dx-button text="Editar"
      type="success"
      style="margin-right: 10px;"
      (onClick)="edit()"></dx-button>
    <dx-button text="Voltar"
      (onClick)="back()"></dx-button>
  </div>
</div>