package ${rootPackage.name}.groovy.qy.sql

import ${rootPackage.name}.groovy.qy.QyFilterable

interface QySqlWhereStep extends QySqlFetchStep, QySqlOrderByStep {
	
//	QySqlOrderByStep where(String sql)

	QySqlOrderByStep where(QyFilterable filter)
	
}
