package ${rootPackage.name}.groovy.qy.sql;

import org.springframework.data.domain.Sort;

interface QySqlOrderByStep extends QySqlFetchStep {
	
	QySqlPaginationStep orderBy(String sortSql);
	
	QySqlPaginationStep orderBy(Sort sort);  
}
