#set ($entityInstanceName = $Strman.lowerFirst($entity.name))
#set ($repositoryInstanceName = $Strman.lowerFirst($repositoryName))
package ${groupId.name}.service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.stereotype.Service;
import ${groupId.name}.domain.${entity.name};
import ${groupId.name}.repository.${repositoryName};

@Service
public class ${serviceName} {
	
	@Autowired
	private ${repositoryName} ${repositoryInstanceName};

	@Transactional
	public ${entity.name} insert(${entity.name} ${entityInstanceName}) {
		return this.${repositoryInstanceName}.save(${entityInstanceName});
	}

	@Transactional
	public ${entity.name} update(${entity.name} ${entityInstanceName}) {
		return this.${repositoryInstanceName}.save(${entityInstanceName});
	}
	
}
