import { environment } from 'src/environments/environment';
import { NgxPermissionsService, NgxPermissionsModule } from 'ngx-permissions';
import { KeycloakService } from './../security/keycloak/keycloak.service';
import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { Routes, RouterModule } from '@angular/router';
import { FlexLayoutModule } from '@angular/flex-layout';
import {
  DxLoadPanelModule,
  DxDataGridModule,
  DxButtonModule
} from 'devextreme-angular';
import { FontAwesomeModule } from '@fortawesome/angular-fontawesome';
import { library } from '@fortawesome/fontawesome-svg-core';
import { fas } from '@fortawesome/free-solid-svg-icons';

import { SideNavOuterToolbarModule } from './../shared/layouts/side-nav-outer-toolbar/side-nav-outer-toolbar.component';

import { ReportDetailComponent } from './report/report-detail/report-detail.component';
import { ReportListComponent } from './report/report-list/report-list.component';
import { ViewPageComponent } from './view-page.component';
import { HomeComponent } from './home/home.component';

library.add(fas);

const DEVEXTREME_MODULES: any[] = [
  DxLoadPanelModule,
  DxDataGridModule,
  DxButtonModule
];

const ANGULAR_MODULES: any[] = [
  FlexLayoutModule,
  CommonModule
];

const routes: Routes = [
  { path: '', component: ViewPageComponent, children: [
      { path: '', redirectTo: 'home', pathMatch: 'full' },
      { path: 'home', component: HomeComponent },
      { path: 'relatorios', children: [
          { path: '', component: ReportListComponent },
          { path: ':idReport', component: ReportDetailComponent }
        ]
      }
    ]
  },

  { path: '**', redirectTo: 'home' }
];

@NgModule({
  imports: [
    DEVEXTREME_MODULES,
    ANGULAR_MODULES,
    SideNavOuterToolbarModule,
    FontAwesomeModule,
    RouterModule.forChild(routes),
    NgxPermissionsModule.forChild()
  ],
  exports: [RouterModule],
  declarations: [
    ReportDetailComponent,
    ReportListComponent,
    ViewPageComponent,
    HomeComponent
  ]
})
export class ViewRoutingModule {
	constructor(private keycloakService: KeycloakService, private permissionsService: NgxPermissionsService){
    this.permissionsService.loadPermissions(this.keycloakService.getTokenParsed().resource_access[environment.keycloak_installation.clientId].roles);
    
  }
 }
