export const environment = {
  production: true,
  urlbase: "/${projectName}-service/api",
  keycloak_installation: { url: 'http://acesso.tre-pa.jus.br/auth', realm: 'TRE-PA', clientId: "${projectName}" },
  keycloak_redirect_uri: "/${projectName}",
  keycloak_clientId_sboot: "${projectName}-service",
};
