import { BrowserAnimationsModule } from '@angular/platform-browser/animations';
import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';

import { AppComponent } from './app.component';
import { SharedModule } from './@core/shared.module';
import { AppRoutingModule } from './app-routing.module';
import { NavListLayoutComponent } from './@core/layout/nav-list-layout/nav-list-layout.component';
import { NavViewLayoutComponent } from './@core/layout/nav-view-layout/nav-view-layout.component';
import { NavLinkComponent } from './view/@common/nav-link/nav-link.component';
import { InfiniteScrollModule } from 'ngx-infinite-scroll';

@NgModule({
  declarations: [
    AppComponent,
    NavViewLayoutComponent,
    NavListLayoutComponent,
    NavLinkComponent
  ],
  imports: [
    BrowserModule,
    BrowserAnimationsModule,
    SharedModule,
    InfiniteScrollModule,
    AppRoutingModule
  ],
  providers: [
  ],
  entryComponents: [ ],
  bootstrap: [ AppComponent ],
})
export class AppModule {}