import {
  Component,
  OnInit
} from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { Router } from '@angular/router';
import { Title } from '@angular/platform-browser';

import { QyStore } from 'src/app/shared/qy/qy-store';
import { Report } from 'src/app/domain/report';

@Component({
  selector: 'app-dev-report-list',
  templateUrl: './dev-report-list.component.html'
})
export class DevReportListComponent implements OnInit {

  defaultVisible: boolean = false;

  pageSize: number = 20;

  reportStore: QyStore<Report>;

  constructor(
    private httpClient: HttpClient,
    private router: Router,
    private title: Title
  ) { }

  ngOnInit() {
    this.title.setTitle('Gerência de Relatórios');
    this.reportStore = new QyStore(this.httpClient, '/dev/jreport');
  }

  create() {
    this.router.navigate(['dev-area', 'report', 'edit']);
  }

  edit(id: number) {
    this.router.navigate(['dev-area', 'report', 'edit', id]);
  }

  toggleDefault() {
    this.defaultVisible = !this.defaultVisible;
  }

  onToolbarPreparing(toolbar) {
    toolbar.items.unshift({
      location: 'before',
      widget: 'dxButton',
      options: {
        text: 'Novo',
        stylingMode: 'contained',
        type: 'success',
        onClick: () => this.create()
      }
    });
  }

}
