package ${rootPackage.name}.groovy.report.domain;

import java.time.LocalDateTime

import javax.persistence.Basic;
import javax.persistence.Column;
import javax.persistence.Convert;
import javax.persistence.Entity;
import javax.persistence.EntityListeners
import javax.persistence.FetchType;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;
import javax.persistence.SequenceGenerator;
import javax.persistence.Table;
import javax.persistence.Version
import javax.validation.constraints.NotBlank;

import org.hibernate.annotations.DynamicInsert;
import org.hibernate.annotations.DynamicUpdate;
import org.springframework.data.jpa.domain.support.AuditingEntityListener

import ${rootPackage.name}.groovy.report.converter.JReportGridToByteConverter
import ${rootPackage.name}.groovy.report.converter.StringToByteConverter
import ${rootPackage.name}.groovy.report.types.JReportGrid
import groovy.transform.EqualsAndHashCode;

@Entity
@DynamicInsert
@DynamicUpdate
@EntityListeners(AuditingEntityListener.class)
@Table(name = "MNGT_JREPORT")
@EqualsAndHashCode(includes="id")
class JReport {

	@Id
	@Column(updatable = false, nullable = false)
	@GeneratedValue(strategy = GenerationType.SEQUENCE, generator = "SEQ_MNGT_JREPORT")
	@SequenceGenerator(initialValue = 1, allocationSize = 1, name = "SEQ_MNGT_JREPORT", sequenceName = "SEQ_MNGT_JREPORT")
	Long id;

	/**
	 * Título do relatório.
	 */
	@Column(nullable = false, unique = true)
	@NotBlank
	String title;

	/**
	 * Subtítulo do relatório.
	 */
	@Column
	String subtitle;
	
	/**
	 * Quando o relatório foi criado.
	 */
	@Column(nullable = false, updatable = false)
	LocalDateTime createdAt;
	
	/**
	 * Quando o relatório foi atualizado pela última vez.
	 */
	@Column
	LocalDateTime lastUpdateAt;
	
	/**
	 * Versão do relatório.
	 */
	@Column
	@Version
	Integer version;
	
	@Column
	UUID uuid;

	/**
	 * Fonte de dados com código SQL nativo.
	 */
	@Column(name = "SQL", nullable = false, columnDefinition = "blob")
	@Convert(converter = StringToByteConverter.class)
	@Basic(fetch = FetchType.LAZY)
	@NotBlank
	String sql;

	/**
	 * Defininição do DataGrid do relatório, que possui a definição das colunas do
	 * relatório utilizada tanto nos relatórios online quanto no relatórios PDF.
	 * 
	 */
	@Column(nullable = false, columnDefinition = "blob")
	@Convert(converter = JReportGridToByteConverter.class)
	@Basic(fetch = FetchType.LAZY)
	JReportGrid grid;

	/**
	 * Código groovy do relatório em DynamicJasper.
	 * 
	 */
	@Column(name = "GPDF", nullable = false, columnDefinition = "blob")
	@Convert(converter = StringToByteConverter.class)
	@Basic(fetch = FetchType.LAZY)
	String gpdf;
	
	@Column(name = "GEXCEL", nullable = false, columnDefinition = "blob")
	@Convert(converter = StringToByteConverter.class)
	@Basic(fetch = FetchType.LAZY)
	String gexcel;
	
	/**
	 * Categoria do relatório.
	 */
	@Column(nullable = false)
	@NotBlank
	String category;

	/**
	 * Flag informando se o relatório está disponível apenas aos gerentes.
	 * 
	 */
	@Column
	boolean mngtOnly = true;

	/**
	 * Flag informando se o relatório está disponível apenas para impressão.
	 * 
	 */
	@Column
	boolean printOnly = false;

}
