package ${rootPackage.name}.groovy.qy.config;

import java.sql.SQLException;

import javax.sql.DataSource;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.jdbc.core.JdbcTemplate;

import ${rootPackage.name}.groovy.qy.sql.QySqlContext;
import ${rootPackage.name}.groovy.qy.sql.h2.H2QyContextImpl;
import ${rootPackage.name}.groovy.qy.sql.oracle.OracleQyContextImpl;

@Configuration
public class QyConfiguration {
	
	@Autowired
	private JdbcTemplate jdbcTemplate;
	
	@Autowired
	private DataSource datasource;
	

	@Bean
	public QySqlContext qyContext() throws SQLException, IllegalAccessException {
		if(datasource.getConnection().getMetaData().getDatabaseProductName().equalsIgnoreCase("h2")) {
			return new H2QyContextImpl(jdbcTemplate);
		} else if(datasource.getConnection().getMetaData().getDatabaseProductName().equalsIgnoreCase("Oracle")) {
			return new OracleQyContextImpl(jdbcTemplate);
		}
		throw new IllegalAccessException("Implementação do QyContext não encontada");
	}
}
