package ${rootPackage.name}.groovy.report.converter;

import javax.persistence.AttributeConverter;
import javax.persistence.Converter;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import ${rootPackage.name}.groovy.report.types.JReportGrid

class JReportGridToByteConverter implements AttributeConverter<JReportGrid, byte[]>  {
	
	@Override
	byte[] convertToDatabaseColumn(JReportGrid attribute) {
		ObjectMapper mapper = new ObjectMapper();
		mapper.writeValueAsBytes(attribute);
	}

	@Override
	JReportGrid convertToEntityAttribute(byte[] dbData) {
		ObjectMapper mapper = new ObjectMapper();
		mapper.readValue(dbData, new TypeReference<JReportGrid>() {
		});
	}

}
