package ${rootPackage.name}.groovy.report.converter;

import javax.persistence.AttributeConverter;
import javax.persistence.Converter;

@Converter
class StringToByteConverter implements AttributeConverter<String, byte[]> {

	@Override
	byte[] convertToDatabaseColumn(String attribute) {
		attribute.getBytes();
	}

	@Override
	String convertToEntityAttribute(byte[] dbData) {
		new String(dbData);
	}
}
